/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";


.jumbotron {
  background: url('https://i.ytimg.com/vi/O1Rp8Watl4o/maxresdefault.jpg');
}

.well {
  background: url('https://upload.wikimedia.org/wikipedia/en/b/bb/Graduated_Blue_Background.png');
}


h1, a.navbar-brand {

    font-family: 'Shadows Into Light', cursive;

  }

#viva-la-paris {
  font-size: 7em;
}

.col-md-4 {
    color: black;
}

.pin-image {
  max-width: 90%;
}

.pin-container {
  margin: 1px;
}

.board-background {
  margin-top: 10px;
  background: #CCC;
}

.pin-background {
  background: rgba(190, 193, 212, 0.44);
}

.notice, .alert {
  margin-top: 25px;
}
.notice {
  color: blue;
}

.alert {
  color: tomato;
}



.pin-index-button {
  margin-top: 15px;
}

img {
  max-width: 90%;
}

.sexy-new-post {
  margin-bottom: 25px;
}

.btn-xlarge {
    text-decoration: none !important;
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

@media (max-width: 480px) {

    .btn-xlarge {
      text-decoration: none !important;
      padding: 18px 28px;
      font-size: 32px; //change this to your desired size
      line-height: normal;
      -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
             }

      .btn {
        font-size: 26px;
      }

      .mobile-style {
        display: block;
        margin-bottom: 5px;
      }


}
